node_modules
**/node_modules
**/dist
**/.next
**/coverage
**/*.tsbuildinfo
.turbo
.git
.env
*.json
!package.json
!tsconfig*.json
!turbo.json
!pnpm-workspace.yaml
!apps/**/package.json
!packages/**/package.json
